<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LCS Movie Landing Page</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>LCS Cinemas</h1>
    
  </header>
  
  <nav>
    <div>
      <ul>
        
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
  
        <li class="nav-item">
          <li style="float:right">
          <a class="nav-link" href="#recommendations">Recommendations</a></li>
        </li>

        <li class="nav-item">
          <li style="float:right">
          <a class="nav-link" href="#info">Info</a></li>
        </li>

        <li class="nav-item" >
          <li style="float:right">
          <a class="nav-link" href="#movies">Movies</a></li>
        </li>
        
      </ul>
    </div>
  </nav>

  <div class="slider">
    <div class="slide current">
      <div class="content">
        <h1>Movie One</h1>
        <p>A charismatic jeweller makes a high-stakes bet that could lead to the windfall of a lifetime.
          In a precarious high-wire act, he must balance business, family and adversaries on all sides in pursuit of the ultimate win.</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h1>Movie Two</h1>
        <p>Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the streets of Gotham City. 
          Arthur wears two masks -- the one he paints for his day job as a clown, and the guise he projects in a futile attempt to feel like he's part of the world around him.
          Isolated, bullied and disregarded by society, Fleck begins a slow descent into madness as he transforms into the criminal mastermind known as the Joker.</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h1>Movie Three</h1>
        <p>Four high school kids discover an old video game console and are drawn into the game's jungle setting, literally becoming the adult avatars they chose.
          What they discover is that you don't just play Jumanji - you must survive it. 
          To beat the game and return to the real world, they'll have to go on the most dangerous adventure of their lives, discover what Alan Parrish left 20 years ago, and change the way they think about themselves -
          or they'll be stuck in the game forever.</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h1>Movie Four</h1>
        <p>Adrift in space with no food or water, Tony Stark sends a message to Pepper Potts as his oxygen supply starts to dwindle.
          Meanwhile, the remaining Avengers -- Thor, Black Widow, Captain America and Bruce Banner -- must figure out a way to bring back their vanquished allies for an epic showdown with Thanos 
          -- the evil demigod who decimated the planet and the universe.</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h1>Movie Five</h1>
        <p>Working as a stripper to make ends meet, Destiny's life changes forever when she becomes friends with Ramona -- the club's top money earner.
          Ramona soon shows Destiny how to finagle her way around the wealthy Wall Street clientele who frequent the club. 
          But when the 2008 economic collapse cuts into their profits, the gals and two other dancers devise a daring scheme to take their lives back.</p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h1>Movie Six</h1>
        <p>Accompanied by her husband, son and daughter, Adelaide Wilson returns to the beachfront home where she grew up as a child. 
          Haunted by a traumatic experience from the past, Adelaide grows increasingly concerned that something bad is going to happen. 
          Her worst fears soon become a reality when four masked strangers descend upon the house, forcing the Wilsons into a fight for survival.
          When the masks come off, the family is horrified to learn that each attacker takes the appearance of one of them.</p>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button id="prev"><i class="fas fa-arrow-left"></i></button>
    <button id="next"><i class="fas fa-arrow-right"></i></button>
  </div>

  <script src="app.js"></script>
</body>
</html>